/advanced.aux
/advanced.log
/advanced.pdf
/advanced.synctex.gz
/advanced.tex
/beginner.aux
/beginner.tex
/integration tricks.aux
/integration tricks.log
/integration tricks.out
/integration tricks.synctex.gz
/integration tricks.toc
/intermediate.aux
/intermediate.tex